import { MElement, BindAttribute, query, queryAll } from "@maxhill/web-component-utils";
import styles from "./index.css?inline";
{{#if useUhtml}}
import { html, render } from "{{#if (eq target 'library')}}@maxhill/uhtml{{else}}../../../../vendor/uhtml/src/dom/index.js{{/if}}";
{{/if}}

const baseStyleSheet = new CSSStyleSheet();
baseStyleSheet.replaceSync(styles);

/**
 * {{description}}
 * 
 * @customElement
 * @tagname {{componentName}}
 * 
 * @slot - Default slot for component content
 * 
 * @attr {string} example - An example property
 * 
 * @prop {string} example - An example property
 */
export class {{componentNamePascal}} extends MElement {
    static tagName = '{{componentName}}';

    @BindAttribute()
    example: string = '';

    @query('slot')
    private defaultSlot!: HTMLSlotElement;

    constructor() {
        super();
        this.attachShadow({ mode: 'open' });
        this.shadowRoot!.adoptedStyleSheets = [baseStyleSheet];
    }

    connectedCallback() {
        this.render();
    }

    private render() {
{{#if useUhtml}}
        render(this.shadowRoot!, html`
            <p>{{componentName}}</p>
            <slot></slot>
        `);
{{else}}
        this.shadowRoot!.innerHTML = `
            <p>{{componentName}}</p>
            <slot></slot>
        `;
{{/if}}
    }
}

{{#if (eq target 'library')}}
// Auto-define when using default import
{{componentNamePascal}}.define();

{{/if}}
export default {{componentNamePascal}};
