---
import colorData from "../../../data/colors.json";
import ThemeSwitcher from "../../../components/ThemeSwitcher.astro";

interface Props {
    category?: string;
}

const { category } = Astro.props;

const filteredColors = category
    ? colorData.colors.filter((c) => c.category === category)
    : colorData.colors;

const id = `color-table-${Math.random().toString(36).substring(7)}`;
---

<m-card id={id} data-width="breakout" data-variant="surface">
    <ThemeSwitcher slot="title" target={`#${id}`} unsetOption="none" />
    <ul class="color-table">
        {
            filteredColors.map((c) => (
                <li>
                    <span
                        class="swatch"
                        style={`background-color: var(--${c.name})`}
                    />
                    <m-copy-button value={`var(--${c.name})`}>
                        var(--{c.name})
                    </m-copy-button>
                    <div class="details">{c.description}</div>
                </li>
            ))
        }
    </ul>
</m-card>

<style>
    ul {
        list-style: none;
        margin: 0;
        color: hsl(var(--color-text));
        width: 100%;
    }

    li {
        display: grid;
        gap: var(--size-2);
        padding-block: var(--size-2);
        grid-template-columns: min-content 1fr;
        align-items: start;

            grid-template-areas:
                "swatch name"
                "description description";
        @container (width > 500px) {
            grid-template-areas:
                "swatch name"
                "swatch description";
        }

        &:not(:last-child) {
            border-bottom: var(--border);
        }

        span {
            height: var(--size-10);
            width: var(--size-10);
            grid-area: swatch;
            border: var(--border);
            border-radius: var(--radius-2);
        }

        m-copy-button {
            grid-area: name;
            font-family: var(--font-mono);
        }

        div {
            grid-area: description;
            max-inline-size: var(--size-content-3);
        }
    }
</style>
